venv**
**__pycache__/
.vscode**
plots/**
*plots/
**.keras
**.png
**.pdf
**.out
**.onnx
**.yaml
CONDOR/logs/
CONDOR/plots**
CONDOR/HypParamGridSearch/logs/
CONDOR/PreProcessing/logs/
CONDOR/PreProcessing/*.txt
bin/**
preprocessing/obj
reco_tree.txt
models/