# Ignore model checkpoint files
**.keras
**.pdf
**.out
**.onnx
**.yaml
**.npz

# Ignore directories for outputs, logs, and temporary files
**logs/
**plots/
**.vscode/
**__pycache__/
**venv/
**env/
**.DS_Store


# Ignore specific files and directories
config
models/
legacy_models/
CONDOR/submit_params
